In [39]:
import numpy as np
import pandas as pd
import yfinance as yf

tickers = ['ICICIBANK', 'HDFCBANK', 'KOTAKBANK', 'AXISBANK', 'INDUSINDBK', 'BANKBARODA', 'BANKINDIA', 'CANBK', 'FEDERALBNK', 'IDBI', 'IDFCFIRSTB', 'PNB', 'RBLBANK', 'SBIN', 'YESBANK']

## append .NS to the ticker
tickers = [ticker + '.NS' for ticker in tickers]

In [40]:
## making nifty coloumns
nifty = yf.download('^NSEI', start="2013-01-01", end="2023-03-31")
# calculating the annual return of nifty index from march to march of every year
nifty = nifty.resample('A-MAR').last()
nifty['return'] = nifty['Adj Close'].pct_change()
nifty = nifty.dropna()
# give returns in percentage
nifty['return'] = nifty['return'] * 100
# drop all the coloumns except return
nifty = nifty.drop(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)
nifty

[*********************100%***********************]  1 of 1 completed

               return
Date
2014-03-31  17.978732
2015-03-31  26.651946
2016-03-31  -8.863504
2017-03-31  18.548409
2018-03-31  10.246085
2019-03-31  14.399278
2020-03-31 -25.689283
2021-03-31  70.866799
2022-03-31  18.883033
2023-03-31  -2.199005

In [41]:
data = yf.download(tickers, start="2013-01-01", end="2023-03-31")
# calculate the annual return of the stock from march to march of every year
data = data.resample('A-MAR').last()
data = data['Adj Close']
# replace the NaN values with zero (if any)
data = data.fillna(0)
# calculate the return of the stock
data
# calculate the return of each stock
for i in tickers:
    data[i[:-3]] = data[i].pct_change() * 100
data = data.drop(tickers, axis=1)
# drop the first row as it contains NaN values
data = data.drop(data.index[0])
# replace the NaN values with zero (if any)
data = data.fillna(0)
# replace inf and -inf values with zero (if any)
data = data.replace([np.inf, -np.inf], 0)

[*********************100%***********************]  15 of 15 completed

In [42]:
# append the nifty return coloumn to the data
data['nifty'] = nifty['return']
data
#

,ICICIBANK,HDFCBANK,KOTAKBANK,AXISBANK,INDUSINDBK,BANKBARODA,BANKINDIA,CANBK,FEDERALBNK,IDBI,IDFCFIRSTB,PNB,RBLBANK,SBIN,YESBANK,nifty
Date,,,,,,,,,,,,,,,,
2014-03-31,21.114573,20.741127,19.729430,13.906533,24.781918,12.321249,-20.135424,-26.771884,1.914817,-12.247974,0.000000,9.431119,0.000000,-4.826108,-2.336327,17.978732
2015-03-31,30.779039,37.733760,68.290092,93.780572,77.705752,14.775563,-14.288831,40.510667,40.041966,9.002584,0.000000,-2.943942,0.000000,40.060222,99.908483,26.651946
2016-03-31,-23.702169,5.524701,3.730959,-20.078272,9.670930,-8.033750,-49.066076,-46.499254,-28.559819,-1.168252,0.000000,-39.860227,0.000000,-26.342556,7.145852,-8.863504
2017-03-31,19.394748,35.778355,28.224952,11.536535,47.897179,17.653044,43.482732,63.778747,99.028332,8.213252,23.622817,76.977565,0.000000,53.026366,80.565432,18.548409
2018-03-31,11.465202,31.616419,20.208205,5.035798,26.554727,-17.126381,-25.637339,-12.586626,-1.676206,-3.861520,-19.173240,-36.424278,-2.640672,-14.055908,-0.656507,10.246085
2019-03-31,46.160519,22.873037,28.023912,52.928505,2.147763,-8.573431,2.221141,12.334232,6.201136,-38.227146,17.814973,0.052461,43.134446,27.651056,-8.711640,14.399278
2020-03-31,-18.778782,-24.510406,-3.281860,-51.393533,-80.607494,-58.839356,-69.532356,-69.472090,-55.586550,-56.726458,-61.390668,-66.072366,-79.939577,-38.291531,-91.645547,-25.689283
2021-03-31,79.799212,73.297365,35.257124,84.023754,171.690876,38.375348,110.387577,68.176800,84.652874,99.740937,163.981041,13.292133,53.173434,85.064754,-30.512250,70.866799
2022-03-31,25.826906,-1.133891,0.098175,9.133266,-1.512656,50.607290,-32.424465,49.638632,29.537091,11.024644,-28.725314,-4.365627,-37.268131,36.729821,-21.153847,18.883033
2023-03-31,17.226737,9.243476,-1.811093,10.869415,13.921331,51.793676,75.233530,27.610134,34.903743,5.140189,37.279594,35.001234,4.301080,6.283168,21.544712,-2.199005

In [43]:
## -31.037175001747407 -17.649362271307822 -0.8953421777411883 9.962143094854568 24.934322397900964 100.82407129497014
# divide the data into 5 parts based on the percents above
for i in tickers:
    data[i[:-3] + '_rank'] = 0
    for j in range(len(data)):
        if data[i[:-3]][j] < -31.037175001747407:
            data[i[:-3] + '_rank'][j] = 0
        elif data[i[:-3]][j] < -17.649362271307822:
            data[i[:-3] + '_rank'][j] = 1
        elif data[i[:-3]][j] < -0.8953421777411883:
            data[i[:-3] + '_rank'][j] = 2
        elif data[i[:-3]][j] < 9.962143094854568:
            data[i[:-3] + '_rank'][j] = 3
        elif data[i[:-3]][j] < 24.934322397900964:
            data[i[:-3] + '_rank'][j] = 4

# only keeping the rank and gainscolumns
ranks = data.filter(regex='_rank')
ranks

/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 2
/tmp/ipykernel_13078/2294980719.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 3
/tmp/ipykernel_13078/2294980719.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 0
/tmp/ipykernel_13078/2294980719.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 1
/tmp/ipykernel_13078/2294980719.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i[:-3] + '_rank'][j] = 4

,ICICIBANK_rank,HDFCBANK_rank,KOTAKBANK_rank,AXISBANK_rank,INDUSINDBK_rank,BANKBARODA_rank,BANKINDIA_rank,CANBK_rank,FEDERALBNK_rank,IDBI_rank,IDFCFIRSTB_rank,PNB_rank,RBLBANK_rank,SBIN_rank,YESBANK_rank
Date,,,,,,,,,,,,,,,
2014-03-31,4,4,4,4,4,4,1,1,3,2,3,3,3,2,2
2015-03-31,0,0,0,0,0,4,2,0,0,3,3,2,3,0,0
2016-03-31,1,3,3,1,3,2,0,0,1,2,3,0,3,1,3
2017-03-31,4,0,0,4,0,4,0,0,0,3,4,0,3,0,0
2018-03-31,4,0,4,3,0,2,1,2,2,2,1,0,2,2,3
2019-03-31,0,4,0,0,3,2,3,4,3,0,4,3,0,0,2
2020-03-31,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0
2021-03-31,0,0,0,0,0,0,0,0,0,0,0,4,0,0,1
2022-03-31,0,2,3,3,2,0,0,0,0,4,1,2,0,0,1
2023-03-31,4,3,2,4,4,0,0,0,0,3,0,0,3,3,4

In [44]:
to_remove = [
    'INCOME',
    'Total Interest Earned',
    'EXPENDITURE',
    'Total Operating Expenses',
    'Provision Towards Income Tax',
    'Provision Towards Deferred Tax',
    'Other Provisions and Contingencies',
    'Net Profit / Loss After EI & Prior Year Items',
    'Profit / Loss Brought Forward',
    'Total Profit / Loss available for Appropriations',
    'APPROPRIATIONS',
    'Transfer To / From Statutory Reserve',
    'Transfer To / From Capital Reserve',
    'Transfer To / From Revenue And Other Reserves',
    'Dividend and Dividend Tax for The Previous Year',
    'Equity Share Dividend',
    'Tax On Dividend',
    'Balance Carried Over To Balance Sheet',
    'Total Appropriations',
    'OTHER INFORMATION',
    'EARNINGS PER SHARE',
    'DIVIDEND PERCENTAGE',
    'Equity Dividend Rate (%)',
    'Balance Sheet of Federal Bank (in Rs. Cr.)',
    'EQUITIES AND LIABILITIES',
    'SHAREHOLDER\'S FUNDS',
    'Equity Share Capital',
    'Total Share Capital',
    'Revaluation Reserve',
    'Reserves and Surplus',
    'ASSETS',
    'OTHER ADDITIONAL INFORMATION',
    'Number of Branches',
    'Number of Employees',
    'KEY PERFORMANCE INDICATORS',
    'Bills for Collection',
    'Contingent Liabilities',
    'Yearly Results of Federal Bank (in Rs. Cr.)',
    'Interest Earned',
    '(a) Int. /Disc. on Adv/Bills',
    '(b) Income on Investment',
    '(c) Int. on balances With RBI',
    '(d) Others',
    'Other Income',
    'Interest Expended',
    'Employees Cost',
    'Other Expenses',
    'Depreciation',
    'Provisions And Contingencies',
    'Exceptional Items',
    'P/L Before Tax',
    'Tax',
    'P/L After Tax from Ordinary Activities',
    'Prior Year Adjustments',
    'Extra Ordinary Items',
    'Net Profit/(Loss) For the Period',
    'Equity Share Capital',
    'Reserves Excluding Revaluation Reserves',
    'EPS before Extra Ordinary',
    'Basic EPS',
    'Diluted EPS',
    'EPS after Extra Ordinary',
    'Basic EPS.',
    'Diluted EPS.',
    'NPA Ratios :',
    'i) Gross NPA',
    'ii) Net NPA',
    'Key Financial Ratios of Federal Bank (in Rs. Cr.)',
    'Per Share Ratios',
    'Basic EPS (Rs.)',
    'Diluted EPS (Rs.)',
    'Book Value [Excl. Reval Reserve]/Share (Rs.)',
    'Dividend/Share (Rs.)',
    'Per Employee Ratios',
    'ASSETS QUALITY',
    'Gross NPA',
    'Gross NPA (%)',
    'Net NPA',
    'Net NPA (%)',
    'Net NPA To Advances (%)',
    'CONTINGENT LIABILITIES, COMMITMENTS',
    'Bills for Collection',
    'Contingent Liabilities',
    'Earnings Yield (X)',
    'Enterprise Value (Rs. Cr)',
    'Valuation Ratios',
    'Return on Equity / Networth (%)',
    'Key Performance Ratios',
    'YEARS (%)',
    'Per Branch Ratios',
    'Per Employee Ratios',
    'Dividend/Share (Rs.)',
]

In [45]:
def clean_data(df):
    df = df.T
    df = df.reset_index()
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    # renaming the coloumn Profit & Loss account of Axis Bank (in Rs. Cr.) to sector
    df = df.rename(columns={'Profit & Loss account of Axis Bank (in Rs. Cr.)':'year'})
    # removing the rows with NaN values in Income from investment column
    # removing the rows with NaN values in Income from investment column
    df = df.dropna(subset=['Income from Investments'])
    # removing the coloumns with NaN values
    df = df.dropna(axis=1)
    # removing the coloumns with '--' values
    # it keeps only the rows with no '--' values in them
    df = df.loc[:, (df != '--').all(axis=0)]
    # remove a coloum if all values are 0 in it
    df = df.loc[:, (df != '0').any(axis=0)]
    for i in to_remove:
        # check if the coloumn is present in the dataframe
        if i in df.columns:
            df = df.drop(i, axis=1)

    df = df.apply(lambda x: x.str.replace(',', '') if x.dtype == 'object' else x)
    df = df.apply(pd.to_numeric, errors='ignore')
    # removing the object type coloumns
    df = df.select_dtypes(exclude=['object'])
    # removing the duplicate coloumns
    df = df.loc[:, ~df.columns.duplicated()]
    # to remove coloumns with objects in it
    list = []
    for col in df.columns:
        if df[col].dtype == 'object':
            list.append(col)
    df = df.drop(list[1:], axis=1)
    return df

In [46]:
def normalize(df):
    # normalizing INCOME Interest / Discount on Advances / Bills, Income from Investments, Interest on Balance with RBI and Other Inter-Bank funds, Others w.r.t Total assets
    income_cols = ['Interest / Discount on Advances / Bills', 'Income from Investments', 'Interest on Balance with RBI and Other Inter-Bank funds', 'Others', 'Total Income', 'Other Income']
    for i in income_cols:
         if i in df.columns:
            df[i] = df[i] / df['Total Assets'] * 100

    # normailzing expenditure Interest Expended, Payments to and Provisions for Employees, Depreciation, Operating Expenses (excludes Employee Cost & Depreciation),
    # Total Provisions and Contingencies, Total Expenditure wrt Total Assets
    expenditure_cols = ['Interest Expended', 'Payments to and Provisions for Employees', 'Depreciation', 'Operating Expenses (excludes Employee Cost & Depreciation)', 'Total Provisions and Contingencies', 'Total Expenditure']
    for i in expenditure_cols:
        if i in df.columns:
            df[i] = df[i] / df['Total Assets'] * 100

    # normalizing net profit / loss for the Year items wrt total assets
    df['Net Profit / Loss for The Year'] = df['Net Profit / Loss for The Year'] / df['Total Assets']
    # normalizing assets wrt total assets
    assets_cols = ['Cash and Balances with Reserve Bank of India', 'Balances with Banks Money at Call and Short Notice', 'Advances', 'Investments', 'Fixed Assets', 'Other Assets']
    for i in assets_cols:
        if i in df.columns:
            df[i] = df[i] / df['Total Assets'] * 100
    # normalize  total reserves and surplus wrt total assets
    df['Total Reserves and Surplus'] = df['Total Reserves and Surplus'] / df['Total Assets']
    # normailize Total ShareHolders Funds Deposits, Borrowings, Other Liabilities and Provisions wrt Total Capital and Liabilities
    Funds_cols = ['Total ShareHolders Funds', 'Deposits', 'Borrowings', 'Other Liabilities and Provisions']
    for i in Funds_cols:
        if i in df.columns:
            df[i] = df[i] / df['Total Capital and Liabilities'] * 100
    # drop total capital and liabilities coloumn as it is 1 now
    df = df.drop('Total Capital and Liabilities', axis=1)
    # drop total assets coloumn as it is 1 now
    df = df.drop('Total Assets', axis=1)
    return df

In [47]:
df1 = pd.read_csv('./Financials/AXISBANK.csv')
df1 = clean_data(df1)
df1

,Interest / Discount on Advances / Bills,Income from Investments,Interest on Balance with RBI and Other Inter-Bank funds,Others,Total Income,Payments to and Provisions for Employees,Operating Expenses (excludes Employee Cost & Depreciation),Total Provisions and Contingencies,Total Expenditure,Net Profit / Loss for The Year,...,Cost to Income (%),Interest Income/Total Assets (%),Non-Interest Income/Total Assets (%),Operating Profit/Total Assets (%),Operating Expenses/Total Assets (%),Interest Expenses/Total Assets (%),EV Per Net Sales (X),Price To Book Value (X),Price To Sales (X),Retention Ratios (%)
1,49616.58,14618.91,1528.15,1613.18,82597.37,7612.55,14989.83,11716.53,69571.90,13025.48,...,42.77,5.73,1.29,-0.18,2.00,2.91,17.01,2.03,3.47,100.00
2,47918.86,12558.21,1037.88,2130.34,78483.49,6164.01,11262.98,19113.68,71894.99,6588.50,...,47.76,6.38,1.48,-0.82,1.84,3.45,15.90,2.10,3.36,100.00
3,48302.97,11246.03,1095.26,1990.90,78171.72,5321.00,11210.67,21810.92,76544.50,1627.22,...,50.03,6.84,1.69,-1.51,1.89,4.08,12.93,1.26,1.71,100.00
4,41322.02,11349.07,693.35,1621.33,68116.11,4747.32,10376.36,14328.50,63439.50,4676.61,...,44.28,6.86,1.63,-1.05,1.97,4.15,15.74,2.99,3.63,100.00
5,34137.47,9983.30,387.83,1271.71,56747.40,4312.96,9109.29,15318.80,56471.72,275.68,...,51.64,6.62,1.58,-1.54,2.02,3.92,15.22,2.06,2.86,-409.74
7,33124.96,9622.82,503.84,1290.54,56233.47,3891.86,7799.24,13905.24,52554.19,3679.28,...,46.42,7.40,1.94,-1.33,2.02,4.39,13.61,2.11,2.64,61.74
8,30040.56,9377.59,295.25,1274.64,50359.50,3376.01,6280.90,7879.95,42135.84,8223.66,...,35.70,7.80,1.78,-0.21,1.92,4.59,13.19,1.99,2.58,85.51
9,25867.82,9117.09,231.26,262.43,43843.64,3114.97,5683.10,6027.62,36485.82,7357.82,...,34.74,7.68,1.81,-0.21,1.99,4.60,14.52,2.97,3.74,85.21
10,21950.43,8343.13,166.78,180.81,38046.38,2601.35,4935.49,5238.42,31828.71,6217.67,...,34.53,7.99,1.93,-0.30,2.06,4.87,12.49,1.80,2.24,84.88
11,19166.24,7746.98,111.26,158.10,33733.68,2376.98,4185.52,4123.70,28554.25,5179.43,...,32.72,7.98,1.92,-0.40,2.03,5.14,12.61,1.84,2.24,83.70

In [48]:
df1 = normalize(df1)
df1

,Interest / Discount on Advances / Bills,Income from Investments,Interest on Balance with RBI and Other Inter-Bank funds,Others,Total Income,Payments to and Provisions for Employees,Operating Expenses (excludes Employee Cost & Depreciation),Total Provisions and Contingencies,Total Expenditure,Net Profit / Loss for The Year,...,Cost to Income (%),Interest Income/Total Assets (%),Non-Interest Income/Total Assets (%),Operating Profit/Total Assets (%),Operating Expenses/Total Assets (%),Interest Expenses/Total Assets (%),EV Per Net Sales (X),Price To Book Value (X),Price To Sales (X),Retention Ratios (%)
1,4.222048,1.243974,0.130036,0.137271,7.028498,0.647778,1.275537,0.997000,5.920115,0.011084,...,42.77,5.73,1.29,-0.18,2.00,2.91,17.01,2.03,3.47,100.00
2,4.810559,1.260715,0.104192,0.213864,7.878932,0.618803,1.130687,1.918816,7.217514,0.006614,...,47.76,6.38,1.48,-0.82,1.84,3.45,15.90,2.10,3.36,100.00
3,5.278062,1.228853,0.119679,0.217546,8.541819,0.581425,1.224989,2.383278,8.364013,0.001778,...,50.03,6.84,1.69,-1.51,1.89,4.08,12.93,1.26,1.71,100.00
4,5.158826,1.416869,0.086561,0.202414,8.503921,0.592677,1.295431,1.788834,7.920072,0.005838,...,44.28,6.86,1.63,-1.05,1.97,4.15,15.74,2.99,3.63,100.00
5,4.937944,1.444072,0.056099,0.183951,8.208444,0.623865,1.317648,2.215846,8.168567,0.000399,...,51.64,6.62,1.58,-1.54,2.02,3.92,15.22,2.06,2.86,-409.74
7,5.507355,1.599890,0.083768,0.214565,9.349375,0.647061,1.296701,2.311885,8.737658,0.006117,...,46.42,7.40,1.94,-1.33,2.02,4.39,13.61,2.11,2.64,61.74
8,5.716919,1.784618,0.056188,0.242573,9.583749,0.642477,1.195297,1.499607,8.018732,0.015650,...,35.70,7.80,1.78,-0.21,1.92,4.59,13.19,1.99,2.58,85.51
9,5.599915,1.973685,0.050064,0.056811,9.491354,0.674335,1.230288,1.304871,7.898520,0.015928,...,34.74,7.68,1.81,-0.21,1.99,4.60,14.52,2.97,3.74,85.21
10,5.727521,2.176971,0.043518,0.047179,9.927433,0.678770,1.287816,1.366860,8.305058,0.016224,...,34.53,7.99,1.93,-0.30,2.06,4.87,12.49,1.80,2.24,84.88
11,5.627849,2.274772,0.032670,0.046423,9.905337,0.697961,1.229009,1.210856,8.384483,0.015209,...,32.72,7.98,1.92,-0.40,2.03,5.14,12.61,1.84,2.24,83.70

In [49]:
tickers = ['ICICIBANK', 'HDFCBANK', 'KOTAKBANK', 'AXISBANK', 'INDUSINDBK', 'BANKBARODA', 'BANKINDIA', 'IDBI', 'IDFCFIRSTB', 'PNB', 'RBLBANK', 'SBIN', 'YESBANK']


# append rank coloumns to the dataframe for each ticker
for i in tickers:
    df = pd.read_csv("./Financials/"+i+".csv")
    df = clean_data(df)
    df = normalize(df)
    lst = data[i + '_rank'].tolist()
    length = len(df)
    df['rank'] = lst[-length:]
    df.to_csv("./data/"+i+"_new.csv", index=False)

In [58]:
## Combine all the dataframes into one dataframe
import glob
import pandas as pd

main_data = pd.DataFrame()

for ticker in tickers:
    df = pd.read_csv("./data/"+ticker+"_new.csv")
    main_data = main_data.append(df, ignore_index=True)

main_data

/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)
/tmp/ipykernel_13078/3716165203.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_data = main_data.append(df, ignore_index=True)

,Interest / Discount on Advances / Bills,Income from Investments,Interest on Balance with RBI and Other Inter-Bank funds,Others,Total Income,Payments to and Provisions for Employees,Operating Expenses (excludes Employee Cost & Depreciation),Total Provisions and Contingencies,Total Expenditure,Net Profit / Loss for The Year,...,Interest Income/Total Assets (%),Non-Interest Income/Total Assets (%),Operating Profit/Total Assets (%),Operating Expenses/Total Assets (%),Interest Expenses/Total Assets (%),EV Per Net Sales (X),Price To Book Value (X),Price To Sales (X),Retention Ratios (%),rank
0,4.523040,1.162708,0.110595,0.323879,7.432314,0.685380,1.125877,1.127389,5.778552,0.016538,...,6.12,1.31,0.34,1.89,2.75,18.75,3.03,5.88,94.06,4
1,4.655989,1.344225,0.132629,0.297275,7.971732,0.657637,1.007553,1.642060,6.655716,0.013160,...,6.43,1.54,-0.22,1.75,3.26,17.44,2.78,5.08,100.00,0
2,5.239706,1.335914,0.062106,0.172242,8.307523,0.753050,1.128462,1.836408,7.585467,0.007221,...,6.80,1.49,-0.77,1.96,3.78,14.82,1.85,2.81,100.00,1
3,4.970933,1.326845,0.076322,0.199656,8.078451,0.705913,1.089098,2.081436,7.729726,0.003487,...,6.57,1.50,-1.15,1.87,3.77,16.36,2.44,4.06,71.30,4
4,4.648170,1.315777,0.075454,0.212484,8.233213,0.672660,1.024723,2.043259,7.462342,0.007709,...,6.25,1.98,-1.21,1.78,3.63,16.19,1.75,3.26,78.49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,5.677381,1.765480,0.119883,0.074496,9.570077,0.839320,0.995188,1.165922,8.021625,0.015485,...,7.63,1.93,-0.38,1.91,4.94,14.93,3.21,4.31,100.00,2
124,5.876364,2.122799,0.068097,0.121751,9.830119,0.784687,0.949400,1.066812,8.293512,0.015366,...,8.18,1.64,-0.10,1.80,5.42,12.85,2.64,2.69,83.44,0
125,5.886808,2.578115,0.031497,0.001755,10.001042,0.719437,0.895936,0.913723,8.528358,0.014727,...,8.49,1.50,-0.03,1.67,5.93,12.64,2.92,2.95,81.25,1
126,5.999122,3.132078,0.021914,0.002770,10.735078,0.719529,0.827687,0.981683,9.251091,0.014840,...,9.15,1.57,-0.09,1.60,6.66,10.61,2.09,1.49,82.16,1
127,5.445858,2.885309,0.016659,0.021149,9.637772,0.661466,0.632961,0.848612,8.325334,0.013124,...,8.36,1.26,0.04,1.34,6.13,12.05,2.65,1.85,83.45,4

In [59]:
main_data.to_csv("./data/main_data.csv", index=False)

In [14]:
main_data.to_csv("./data/main_data.csv", index=False)

In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("./data/final_data.csv")

In [39]:
# count the number of rows with rank 1
print(df[df['rank'] == 2].count())

Interest / Discount on Advances / Bills                       72
Income from Investments                                       72
Interest on Balance with RBI and Other Inter-Bank funds       72
Others                                                        72
Total Income                                                  72
Payments to and Provisions for Employees                      72
Operating Expenses (excludes Employee Cost & Depreciation)    72
Total Provisions and Contingencies                            72
Total Expenditure                                             72
Net Profit / Loss for The Year                                72
Total Reserves and Surplus                                    72
Total ShareHolders Funds                                      72
Deposits                                                      72
Borrowings                                                    72
Other Liabilities and Provisions                              72
Cash and Balances with Reserve Bank of India                  72
Balances with Banks Money at Call and Short Notice            72
Investments                                                   72
Advances                                                      72
Fixed Assets                                                  72
Other Assets                                                  72
Capital Adequacy Ratios (%)                                   72
Tier 1 (%)                                                    72
Tier 2 (%)                                                    72
a) % of Share by Govt.                                        72
i) % of Gross NPA                                             72
ii) % of Net NPA                                              72
Return on Assets %                                            72
Cash EPS (Rs.)                                                72
Book Value [Incl. Reval Reserve]/Share (Rs.)                  72
Operating Revenue / Share (Rs.)                               72
Net Profit/Share (Rs.)                                        72
Interest Income/ Employee (Rs.)                               72
Net Profit/ Employee (Rs.)                                    72
Business/ Employee (Rs.)                                      72
Interest Income/ Branch (Rs.)                                 72
Net Profit/ Branches (Rs.)                                    72
Business/ Branches (Rs.)                                      72
ROCE (%)                                                      72
CASA (%)                                                      72
Net Profit Margin (%)                                         72
Operating Profit Margin (%)                                   72
Return on Assets (%)                                          72
Net Interest Margin (X)                                       72
Cost to Income (%)                                            72
Interest Income/Total Assets (%)                              72
Non-Interest Income/Total Assets (%)                          72
Operating Profit/Total Assets (%)                             72
Operating Expenses/Total Assets (%)                           72
Interest Expenses/Total Assets (%)                            72
EV Per Net Sales (X)                                          72
Price To Book Value (X)                                       72
Price To Sales (X)                                            72
Retention Ratios (%)                                          72
rank                                                          72
dtype: int64

In [6]:
# append all the datapoints in the dataframe gains to a list
gain = []
# for each row in the dataframe gains
for col in gains.columns:
    # append the datapoint to the list
    gain.append(gains[col].tolist())

In [29]:
arr = []
for i in range(len(gain)):
    for j in range(len(gain[i])):
        arr.append(gain[i][j])

arr

[3.135829690948011,
 4.12709311319113,
 -14.838665555923402,
 0.846346305114217,
 1.2190977941662666,
 31.76126857811776,
 6.910502569772593,
 8.932415054595822,
 6.943859307732648,
 19.42574247467327,
 2.7623973393992465,
 11.081826579893587,
 14.388210645400855,
 17.229949560638786,
 21.370322899914626,
 8.47375920699509,
 1.1788763606850878,
 2.4305662356583753,
 -20.01692389608174,
 11.442481326423858,
 1.7506891143621814,
 41.63819113130665,
 12.594443183011105,
 9.676533290470623,
 9.962143094854568,
 13.624618820854305,
 22.407422444353454,
 -35.609674435572174,
 -18.784858398340962,
 0.3879119154722499,
 -4.072159876233394,
 67.12858409641535,
 -11.214762311037575,
 -7.011882399906845,
 -5.210280310117766,
 38.52923032700781,
 -25.7042542894781,
 13.156954998891422,
 -9.749767698467092,
 13.068420390204338,
 6.80317607561145,
 51.05381842444394,
 18.5344189179198,
 29.348792086195758,
 16.308631162641582,
 -12.251514904889605,
 -54.918209494908815,
 100.82407129497014,
 -20.395695314160044,
 16.12033614485001,
 -5.65746818687467,
 -11.876383326779315,
 0.8297436552981754,
 -0.8953421777411883,
 -27.372473103281802,
 -22.97270852808532,
 -33.15007358654688,
 -32.491450486057225,
 31.724256331750176,
 53.992681090164766,
 -38.114156074633875,
 -40.940776571880065,
 -40.20257215120979,
 24.934322397900964,
 -35.88342357730507,
 -12.178136874791836,
 -43.84307295826,
 39.52077822236453,
 -51.30749837019622,
 77.43253485821896,
 -44.750613304851605,
 13.858730618580672,
 -37.635754912013006,
 45.23033423877578,
 -22.83270109262611,
 -2.0650458932207627,
 -43.782807110824514,
 -2.6899984592945003,
 30.75559916909814,
 29.809139419093302,
 -16.063915044032086,
 13.390050169699876,
 -19.696323828084918,
 80.47994016590998,
 -11.92229960696394,
 -8.198133250744323,
 -29.89727139168442,
 13.786055787845058,
 10.654071281606647,
 37.10274803777912,
 -30.226714461881166,
 -17.649362271307822,
 7.695251713101413,
 -10.335157529448804,
 -14.107604787880547,
 -52.62642429185077,
 -31.037175001747407,
 28.87413776802252,
 -7.858389726076263,
 7.3391941079386065,
 -17.978731832358896,
 -26.651945834445833,
 8.863503682207629,
 5.074397155876028,
 -29.41932441860493,
 3.4156955004353655,
 -35.70138563905112,
 93.11424268002887,
 -47.60834705429184,
 39.47859965699766,
 -8.547650319813638,
 -29.595888257425063,
 -30.996716743474494,
 58.42915535347686,
 -46.670362691867105,
 -14.346817108807098,
 -40.383083422127605,
 -57.5746653520721,
 -23.248660618791526,
 37.20023884405101,
 -17.978731832358896,
 -26.651945834445833,
 8.863503682207629,
 -18.548409435670578,
 -12.886756728646365,
 28.735168524413535,
 -54.25029480490118,
 -17.69336483074065,
 -56.151163819280235,
 6.500085375284781,
 -22.804863280310663,
 13.408296229211672,
 -17.479050257579253,
 34.47796079754084,
 -24.3020015399974,
 13.251778006297041,
 -12.602248280089903,
 14.197955212116497,
 17.84678813459746,
 8.482173530727943,
 -20.31505854113006,
 73.25655677105897,
 16.009335467137763,
 62.017058023659104,
 -10.902601436622307,
 -23.110917930810714,
 -65.95626485800807,
 -101.37904892275543,
 -40.03688012385366,
 23.74371732953743]

In [32]:
# size of the array
len(arr)

150

In [31]:
# sort the array
arr.sort()

In [33]:
arr

[-101.37904892275543,
 -65.95626485800807,
 -57.5746653520721,
 -56.151163819280235,
 -54.918209494908815,
 -54.25029480490118,
 -52.62642429185077,
 -51.30749837019622,
 -47.60834705429184,
 -46.670362691867105,
 -44.750613304851605,
 -43.84307295826,
 -43.782807110824514,
 -40.940776571880065,
 -40.383083422127605,
 -40.20257215120979,
 -40.03688012385366,
 -38.114156074633875,
 -37.635754912013006,
 -35.88342357730507,
 -35.70138563905112,
 -35.609674435572174,
 -33.15007358654688,
 -32.491450486057225,
 -31.037175001747407,
 -30.996716743474494,
 -30.226714461881166,
 -29.89727139168442,
 -29.595888257425063,
 -29.41932441860493,
 -27.372473103281802,
 -26.651945834445833,
 -26.651945834445833,
 -25.7042542894781,
 -24.3020015399974,
 -23.248660618791526,
 -23.110917930810714,
 -22.97270852808532,
 -22.83270109262611,
 -22.804863280310663,
 -20.395695314160044,
 -20.31505854113006,
 -20.01692389608174,
 -19.696323828084918,
 -18.784858398340962,
 -18.548409435670578,
 -17.978731832358896,
 -17.978731832358896,
 -17.69336483074065,
 -17.649362271307822,
 -17.479050257579253,
 -16.063915044032086,
 -14.838665555923402,
 -14.346817108807098,
 -14.107604787880547,
 -12.886756728646365,
 -12.602248280089903,
 -12.251514904889605,
 -12.178136874791836,
 -11.92229960696394,
 -11.876383326779315,
 -11.214762311037575,
 -10.902601436622307,
 -10.335157529448804,
 -9.749767698467092,
 -8.547650319813638,
 -8.198133250744323,
 -7.858389726076263,
 -7.011882399906845,
 -5.65746818687467,
 -5.210280310117766,
 -4.072159876233394,
 -2.6899984592945003,
 -2.0650458932207627,
 -0.8953421777411883,
 0.3879119154722499,
 0.8297436552981754,
 0.846346305114217,
 1.1788763606850878,
 1.2190977941662666,
 1.7506891143621814,
 2.4305662356583753,
 2.7623973393992465,
 3.135829690948011,
 3.4156955004353655,
 4.12709311319113,
 5.074397155876028,
 6.500085375284781,
 6.80317607561145,
 6.910502569772593,
 6.943859307732648,
 7.3391941079386065,
 7.695251713101413,
 8.47375920699509,
 8.482173530727943,
 8.863503682207629,
 8.863503682207629,
 8.932415054595822,
 9.676533290470623,
 9.962143094854568,
 10.654071281606647,
 11.081826579893587,
 11.442481326423858,
 12.594443183011105,
 13.068420390204338,
 13.156954998891422,
 13.251778006297041,
 13.390050169699876,
 13.408296229211672,
 13.624618820854305,
 13.786055787845058,
 13.858730618580672,
 14.197955212116497,
 14.388210645400855,
 16.009335467137763,
 16.12033614485001,
 16.308631162641582,
 17.229949560638786,
 17.84678813459746,
 18.5344189179198,
 19.42574247467327,
 21.370322899914626,
 22.407422444353454,
 23.74371732953743,
 24.934322397900964,
 28.735168524413535,
 28.87413776802252,
 29.348792086195758,
 29.809139419093302,
 30.75559916909814,
 31.724256331750176,
 31.76126857811776,
 34.47796079754084,
 37.10274803777912,
 37.20023884405101,
 38.52923032700781,
 39.47859965699766,
 39.52077822236453,
 41.63819113130665,
 45.23033423877578,
 51.05381842444394,
 53.992681090164766,
 58.42915535347686,
 62.017058023659104,
 67.12858409641535,
 73.25655677105897,
 77.43253485821896,
 80.47994016590998,
 93.11424268002887,
 100.82407129497014]

In [37]:
# find the 6th percentile
print(arr[1*150//6 - 1], arr[2*150//6 - 1], arr[3*150//6 - 1], arr[4*150//6 - 1], arr[5*150//6 - 1], arr[6*150//6 - 1])

-31.037175001747407 -17.649362271307822 -0.8953421777411883 9.962143094854568 24.934322397900964 100.82407129497014

In [27]:
## -31.037175001747407 -17.649362271307822 -0.8953421777411883 9.962143094854568 24.934322397900964 100.82407129497014

In [57]:
# give a dictionary of the ranks vs the count of the ranks
dict = {}
for i in range(0, 7):
    dict[i] = len(main_data[main_data['rank'] == i])
dict

{0: 101, 1: 137, 2: 90, 3: 23, 4: 21, 5: 0, 6: 0}